/* ÙStart Cart-one */
.cart-one .price {
  padding: 10px 15px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.cart-one .price h4 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.cart-one .price span {
  font-size: 17px;
  font-weight: bold;
  color: #777;
}

.cart-one .products {
  padding: 10px 15px;
  background-color: #fff;
}

.cart-one .products h3 {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
}

.cart-one .products .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  direction: rtl;
}

.cart-one .products .box:not(:last-child) {
  padding-bottom: 30px;
}

.cart-one .products .box .text {
  text-align: center;
}

.cart-one .products .box .text h4 {
  font-size: 17px;
  font-weight: 600;
  color: #1f1f1f;
}

.cart-one .products .box .text span.myprice {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #f45;
}

.cart-one .price .btn-main {
  margin-bottom: 10px;
}

/* End Cart-one */



/* Start Cart-two */
.cart-two {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 4px;
}

.cart-two>h3 {
  font-family: 'Cairo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  padding: 0 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.cart-two>p {
  font-size: 18px;
  font-weight: bold;
  color: #777;
  width: 130px;
  text-align: center;
}

.cart-two .box {
  direction: rtl;
  display: flex;
  gap: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart-two .box2 {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

@media(max-width:992px) {
  .cart-two .box {
    flex-direction: column;
    text-align: center;
  }

  .cart-two .box .text h2.description {
    font-size: 19px !important;
  }

  .cart-two .box .hrefs {
    justify-content: center;
  }

  .cart-two .box span.price {
    margin-right: auto;
  }
}

@media(min-width:993px) {
  .cart-two .box span.price {
    margin-top: 6px;
  }
}

.cart-two .box .text h2.description {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.9;
  font-family: 'Cairo', sans-serif;
}

.cart-two .box .info {
  text-align: center;
}

.cart-two .box span.price {
  margin-left: auto;
  font-size: 17px;
  font-weight: bold;
  color: #555;
}

.content-cart .count {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content-cart .count select {
  width: 100px;
  padding: 4px;
  border: 1px solid var(--alt-color);
}

.cart-two .box .text .include {
  color: #007600;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0;
  display: block;
}

.cart-two .box .hrefs {
  display: flex;
}

.cart-two .box .hrefs a {
  color: var(--main-color);
  display: block;
  text-decoration: none;
  font-size: 17px;
  margin: 10px 10px 0;
}

.cart-two .box .hrefs a:not(:first-child) {}

/* End Cart-two */