.collection-reg {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  direction: rtl;
}
@media(max-width:992px){
  .collection-reg .row{
    gap: 30px;
  }
}
.collection-reg .myReg {
  padding: 30px;
  background-color: #fff;
  border-radius: 6px;
  border-bottom: 2px solid var(--alt-color);
  box-shadow: 0 0 10px #ddd;
  height: 100%;
}

.collection-reg .myReg h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 15px;
}


.collection-reg .myReg form {
  width: 100%;
}

.collection-reg .myReg form .input {
  display: block;
  margin: 15px 0;
  padding: 8px 15px;
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: .5s;
}

.collection-reg .myReg form input:focus {
  box-shadow: 0 0 3px 4px var(--alt-color);
}

.collection-reg .myReg form input[type="radio"]:focus,
.collection-reg .myReg form input[type="submit"]:focus {
  box-shadow: none;
}

.collection-reg .myReg form .gender {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 15px;
}

.collection-reg .myReg form .gender div span {
  font-size: 18px;
}

.collection-reg .myReg form input[type="submit"] {
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
  padding: 8px;
  background-color: var(--alt-color);
  color: #FFF;
  outline: none;
  font-size: 18px;
  opacity: .7;
  transition: .5s;
  border: 1px solid #ccc;
  border-radius: 7px;
}


.collection-reg .myReg form input[type="submit"]:hover {
  opacity: 1;
}

.col-12:nth-child(2) .myReg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-12:nth-child(2) .myReg p {
  font-size: 20px;
  font-weight: 350;
  line-height: 2;
}

.col-12:nth-child(2) .myReg p a {
  text-decoration: none;
  color: var(--alt-color);
  margin-right: 6px;
  opacity: .7;
  transition: .5s;
}

.col-12:nth-child(2) .myReg p a:hover{
  opacity: 1;
}